<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      https://maven.apache.org/xsd/settings-1.0.0.xsd">
  
  <servers>
    <server>
      <id>docker.io</id>
		<username>yallaiah</username>
		<password>{y/7zHCMximQHSkkstdweWNn/fAlBOTpT6NT0qcKAL6M=}</password>
    </server>
  </servers>
</settings>
